.ProjectCard {
    align-content: center;
    height: auto;
    background-color: rgb(255, 255, 255, .1);
    padding-bottom: 20px;
}

.Title {
    padding-top: 35px;
    padding-bottom: 20px;
    font-size: 60px; 
}

.ProjectCard:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.ReactPlayer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100%;
}

.Icon {
    height: 50px;
    width: 50px;
    color: white;
    border: black;
    transition: color 0.2s;
    margin-right: 20px;
    margin-left: 20px;
}

.Icon:hover {
    animation: bounce 1.0s infinite;
}

@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.Carousel img{
    height: 400px;
    width: auto;
}
