
.ProjectContainer {
    position: relative;
    text-align: center;
    overflow: scroll;
    align-content: flex-start;
    justify-content: center;
    background-color: rgba(0,0,0,.2);
    height: 700px;
    width: auto;
    font-size: 30px;
    font-weight: 100;
    padding: 40px;
}