@import "~bootstrap/scss/bootstrap";

body {
    background-image: url(./images/bgdefault.jpg);
    color: white;
}

.profile-picture {
    height: 300px;
    width: auto;
    border-radius: 20em;
    margin-top: 20px;
}

.profile-info {
    padding-top: 20px;
}

.profile-techstack {
    padding-top: 20px
}

.home {
    margin-top: 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.aboutme {
    text-align: center;
    padding-top: 50px;
}

.center {
    text-align: center;
}