@import "~bootstrap/scss/bootstrap";

.profile-picture {
    height: 300px;
    width: auto;
    border-radius: 20em;
    margin-top: 20px;
}

.profile-info {
    padding-top: 20px;
}

.home {
    text-align: center;
    padding-top: 50px;
}

.aboutme {
    text-align: center;
    padding-top: 50px;
}
// .side-nav {
//     top: 0;
//     left: 0;
//     bottom: 0;
//     position: fixed;
//     z-index: 2;
//     width: 25%;
//     font-size: 14px;
//     text-align: left;
//     background-color: rgba(145,13,13,.8);
//     overflow: hidden;
// }

// .side-nav, .nav-container {
//     height: 100%;
//     overflow-y: auto;
//     -webkit-overflow-scrolling: touch;
//     -ms-overflow-style: -ms-autohiding-scrollbar;
//     padding: 45px 40px;
// }

// .side-nav, .nav-items {

// }

// .side-nav-link {
//     color: red;
// }
