@import "~bootstrap/scss/bootstrap";

body {
    background-image: url(./images/bgdefault.jpg);
    color: white;
}

.profile-picture {
    height: 300px;
    width: auto;
    border-radius: 20em;
    margin-top: 20px;
}

.profile-info {
    padding-top: 20px;
}

.profile-techstack {
    padding-top: 20px
}

.home {
    margin-top: 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.aboutme {
    text-align: center;
    padding-top: 50px;
}

.center {
    text-align: center;
}

.navicon {
    height: 30px;
    width: 30px;
    color: whitesmoke;
    transition: color 0.2s;
    margin-right: 10px;
    margin-left: 10px;
}

.navicon:hover {
    color: silver;
}

.rightside {
    position: absolute;
    right: 2em;
}

.icon {
    height: 50px;
    width: 50px;
    color: whitesmoke;
    transition: color 0.2s;
    margin-right: 10px;
    margin-left: 10px;
}

.icon:hover {
    animation: bounce 1.0s infinite;
}

@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}