.AboutMe {
    height: 700px;
    display: flex;
    justify-content: center;
}

.Name {
    margin-top: 7%;
    margin-bottom: 5%;
    font-family: Calligraffitti;
    font-size: 80px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 510; 
    line-height: 26.4px;
}

.ImgDiv {
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 10%;
  }

.ProfilePicture {
    height: 400px;
    width: auto;
}

.ProfileInfo {
    overflow: scroll;
    align-content: flex-start;
    justify-content: center;
    background-color: rgba(0,0,0,.4);
    height: 600px;
    width: 30em;
    margin-top: 5%;
    position: relative;
    padding-top: 20px;
    /* font-family: "Amatic SC"; */
    font-size: 30px;
    font-weight: 150;
    padding: 40px;
}

.TechList {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 400px));
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
    text-align: center;
}

.ListItem {
    margin-left: 10px;
    margin-right: 10px;
}